@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



.image-row {
   display: flex;
    /* Permite que las imágenes pasen a la siguiente línea si no caben en una sola fila */
   margin-left: -350px;
   align-items: center;
}
.image-row img {
   margin: 10px; /* Espacio entre las imágenes */
   width: calc(5% - 5px); /* Ajusta el ancho de las imágenes */
   height: 10%; /* Mantiene la proporción de las imágenes */
 
}


.image-3 {
 margin-left: -40px;
}

@media (max-width: 768px) {
   .image-row {
       flex-direction: column;
       align-items: center;
      }
   .image-row img {
       width: 100%;
       height: auto;
       margin-right: -340PX;
       align-items: center;
   }
   
.image-3 {
 margin-left: 10px;
  }
}


@media (max-width: 767px) {
   .hide-on-mobile {
       display: none;
   }
}

/* CSS para ocultar la imagen en dispositivos de escritorio */
@media (min-width: 768px) {
   .hide-on-desktop {
       display: none;
   }
}

.info-txt p {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
    text-align: left; /* Alineación izquierda para mejorar legibilidad */
}


.info-txt ul {
    list-style-type: disc;
    padding-left: 40px; 
    margin-bottom: 30px; 
}

.info-txt li {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 10px;
    text-align: left; 
}




evita descargar img en pagina web
.img {
   -webkit-user-drag: none;
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
  
}









.info-pago {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   padding: 50px 0;
}

.info-pago .info-txt {
   max-width: 600px;
   margin-bottom: 20px;
}

.info-pago .info-img2 {
   width: 90%;
   display: flex;
   justify-content: center;
}





.product-grid {
   display: flex;
   flex-wrap: wrap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container-s {
   position: fixed;
   max-width: 100%;
   margin: 0 auto;
   overflow: visible;
   margin-top: 100px;
}
.bubbles {
   position: fixed;
   display: flex;
   pointer-events: none;
  
}
.bubbles span {
   position: relative;
   width: 30px;
   height: 30px;
   background: #4fc3dc;


   margin: 0 4px;
   border-radius: 50%;
   box-shadow: 0 0 0 10px #4fc3dc44,
   0 0 50px #4fc3dc,
   0 0 100px #4fc3dc;
   animation: animate 15s linear infinite;
   animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
   background: #ff2d75;
   box-shadow: 0 0 0 10px #ff2d7544,
   0 0 50px #ff2d75,
   0 0 100px #ff2d75; 


}


@keyframes animate
{
   0%
   {
      transform: translateY(100vh)scale(0);
   }
   100%
   {
      transform: translateY(-10vh)scale(1);
   }
}


@media (max-width: 768px) {
   .bubbles span {
      width: 20px; /* Tamaño más pequeño para dispositivos móviles */
      height: 20px;
      animation-duration: calc(100s / var(--i)); /* Ajuste de duración de animación */
   }
}


 body {
    background-color: #080202;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
 }

 .container {
    max-width: 1200px;
    margin: 0 auto;
    
    
 }



 .swiper-button-prev::after {
    font-size: 25px;
    height: 65px;
    
 }
 .swiper-button-next::after {
    font-size: 25px;
    height: 65px;
    
 }
 
 

 .swiper-button-next {
    color: #DB241B;
    
    margin-top: 25px;
    
 }
 .swiper-button-prev {
    color: #DB241B;
    margin-top: 25px;
    
 }
 .swiper-pagination-bullet {
background-color: #d3d2d2;
opacity: 1;
 } 
 .swiper-pagination-bullet-active {
    background-color: #DB241B;
 }

 .menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
 }

 .navbar {
    display: flex ;
    
 }



 
 .menu-1 {
    margin-right: 100px;
    display: flex;
   
 }

 .menu-2 {
    margin-left: 180px;
    display: flex;
   
 }
 .logo-1 {
    width: 0;
 }
 .logo-2 {
    width:   250px;
    
    margin-top: -35px;
    
    
    
 }

 .socials {
    display: flex;
 }
 .social {
    margin:  10px; 
    height: 40px;
    width: 41px;
    border: 1px solid #DB241B;
    border-radius: 50%;



    transition: all .5s ease;
    
 }
 
 .social:hover {
background-color: #DB241B;
 }
 .social img {
    margin: 8px 0 0 10px;
 } 
 .menu .navbar ul li {
    position: relative;
    float: left;
 }

 .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;

 }

 .menu .navbar ul li a:hover {
    color: #DB241B;
 }

 #menu {
    display: none;
 }
 

 .menu-icono {
    width: 25px;
 }


 .menu label {
    cursor: pointer;
    display: none;
 }

 .header-content {
    margin-top: -30px;
    padding-bottom: 50px;
 }

 .slider {
    display: flex;
    align-items: center;
    
 }

 .slider-txt {
    margin-left: 85px;
    width: 50%;
    text-align: center;
    
 }

 .slider-txt h1 {
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    align-items: center;
    margin-top: 15%;
    
 }
 .slider-txt h3 {
   font-size: 55px;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 800;
   align-items: center;
   
   
}
 .slider-txt p {
    font-size: 18px;
    color: #a7a7a7;

 }

 .botones {
    margin-top: 50px;
 }

 .btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB241B;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
 }
 .btn-1:hover {
   
    background-color: #DB241B;
 }

 .slider-img {
width: 50%;
margin-top: 150px;
 }

 .slider-img img {
    margin-right: 225px;
    width: 550px;
 }

 .products {
    background-color:  #181818;
    
 }
 

 
 .tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
    margin-bottom: 0; 
    padding: 0;
    
 }

 .tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background ease 0.2s;
 }

 .tabs .tab {
     order: 99;
     flex-grow: 1;
     width: 100%;
     display: none;
     padding-top: 25px;
 }

 .tabs input[type="radio"] {
    display: none;
 }
 .tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB241B;
    color: #ffffff;
 }

 .tabs input[type="radio"]:checked + label + .tab {
   display: block;
 } 

 .product {
    display: flex;
    align-items: end;
    padding: 25px;
    margin: 0 10px;
    flex-wrap: nowrap;

 }

 .product-img {
    width: 50%;
    text-align: left;
    
 }

 .product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;

 }

 .product-img img {
    width: 150px;
    height: 120px;
    border-radius: 20px;
 }
 .product-img:hover {
   transform: scale(1.2);
   cursor: pointer;

}
 .product-txt {
    width: 50%;
    margin-left: 20px;
    text-align: left;
 }
 .product-txt h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
 }

 .product-txt p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
 }
 .product-txt span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
 }
 .info {
    
    display: flex;
    align-items: center;
    
      width: 100%;
      margin-bottom: 0; 
      padding: 0;
  }
 
  .info-img2 {

    padding-left: 50px; /* Aumenta el espaciado a la derecha */
    margin-left: 20px; 
}

.info-img2 img {
   width: 700px;
   height: 300px;
}
.info-img3 img {
   width: 260px;
   height: 260px;
   position: relative;
   top: 110px; /* Ajusta este valor según sea necesario */
}
.info-img3 {

   padding-left: 400px; /* Aumenta el espaciado a la derecha */
   margin-left: -150px;
   margin-right: 255px; 
  margin-bottom: 200px;
}
.info-img4 img {
   width: 300px;
   height: 300px

}
.mover-derecha {
   margin-left: 200px;
   position: relative;
   top: 20px;  /* Ajusta este valor según sea necesario */
}
.mover-derecha2 {
   margin-left: 100px;
   position: relative;
   top: 20px;  /* Ajusta este valor según sea necesario */
}
.mover-derecha3 {
   margin-left: 100px;
   position: relative;
   top: 20px;  /* Ajusta este valor según sea necesario */
}

        
.socials2 {
   display: none;
}

/* Show .socials2 on small screens */
@media (max-width: 768px) {
   .socials2 {
       display: flex;
      justify-content: center;
      margin-top: -10px;
      
      
  }
  .socials2 .social {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px; /* Adjust the size as needed */
   height: 50px; /* Adjust the size as needed */
}
.socials2 .social img {
   width: 50%;
   height: 50%;
   margin-top: 0px;
}

  .social2 img {
      margin: 8px 0 0 0;
  }
}






        ul.mover-derecha3 li {
            margin-bottom: 10px;
            padding-left: 30px; /* Ajusta este valor según sea necesario */
            position: relative;
            text-indent: -15px; /* Ajusta la indentación para alinear el texto */
        }
        ul.mover-derecha3 li::before {
            content: '⚪';
          margin-left: -60px;
            left: 0;
            top: 0;
        }
  

.info-img4 {

   padding-left: 50px; /* Aumenta el espaciado a la derecha */
   margin-left: 150px;
   margin-right: -100px; 
}
@media (max-width: 768px) {
   .info-img3 img {
       width: 100%;
       height: auto;
       top: 0; /* Ajusta este valor según sea necesario */
   }
   .info-img3 {
      margin-right: -10px;
      margin-bottom: 0;
      padding: 0;
   }
   .info-img4 img {
       width: 100%;
       height: auto;
     
   }
   .mover-derecha {
       margin-left: 10px; 
       top: 0;
   }
   .mover-derecha2 {
      margin-left: 20px; 
      top: 0;
  }
  .mover-derecha3 {
   margin-left: 20px; 
   top: 0;
}
   .info-img4 {
       margin-right: -120px;
     
   }
}

 .info-img {
    width: 90%;
 }

 .info-img img {
    width: 700px;
    height: 700px;
 }

 .info-txt { 
    width: 50%;
 }
 

 .info-txt h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    
 }

 .info-txt p { 
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
 }


 .btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    
    
    
    
    
 }

 .btn-2:hover {
    background-color: #ab1c15;
 }

 .horario {
    padding: 100px 0px;
    background-color:  #181818;
 }


 .horario-info h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -10px;
 }

 .horario-txt {
    display: flex;
    justify-content: space-between;

 }

 .txt {
    color: #ffffff;
 }

 .txt h4 {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
 }


 .txt p {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
 }


 .txt-m{
   color: #ffffff;
   display: flex;
   font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.txt-a {
   display: none;
   color: #ffffff;
   text-align: center;
   font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.map1 {
   display: none;
   filter: grayscale(100%) invert(92%) contrast(93%);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
      padding: 15px 10px;

}


 .map {
   

    filter: grayscale(100%) invert(92%) contrast(93%);
    width: 630px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
       padding: 15px 10px;
 }

 .footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
 }
 










  

.pie-pagina {
   width: 100%;
   background-color: #181818;
}

.pie-pagina .grupo-1 {
   width: 100%;
   max-width: 2000px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.pie-pagina .grupo-1 .box figure img {
   width: 250px;
   margin-left: 400PX;
}

@media (max-width: 768px) {
   .pie-pagina .grupo-1 {
       grid-template-columns: 1fr; /* Una columna en lugar de tres */
       grid-gap: 20px; /* Reducir el espacio entre elementos */
       padding: 20px 0px; /* Reducir el relleno */
   }

   .pie-pagina .grupo-1 .box figure img {
       width: 80%; /* Ajustar el ancho de la imagen al 100% del contenedor */
       margin-left: 0; /* Eliminar el margen a la izquierda */
   }
}



.pie-pagina .grupo-1 .box h2 {
   color: #ffffff;
   margin-bottom: 25px;
   font-size: 20px;
   text-transform: uppercase;
}


.pie-pagina .grupo-1 .box p{
   color: #efefef;
   margin-bottom: 10px;
}
.pie-pagina .grupo-2{
   background-color: #0d0d0d;
   padding: 15px 10px;
   text-align: center;
   
   color: #ffffff;
}
.pie-pagina .grupo-2 small {
   font-size: 15px;
}










 

 .links h4 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
 }

 .links ul li a {
color: #ffffff;
font-size: 16px;
margin-bottom: 5px;
display: inline-block;
 }

 @media(max-width: 991px) {


   .info-txt p {
      font-size: 16px;
      margin-bottom: 30px;
      text-align: center; /* Ajuste de alineación para móviles */
  }

  .info-txt ul {
      padding-left: 20px;
      margin-bottom: 20px; 
  }

  .info-txt li {
      font-size: 16px;
      margin-bottom: 5px;
      text-align: center; /* Ajuste de alineación para móviles */
  }

  .info-pago {
      padding: 30px 0;
  }

  .info-pago .info-txt {
      max-width: 90%;
      margin-bottom: 15px;
  }

 

   
    .menu {
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2 {
        display: none;
    }
    .logo-1 {
        width: 100px;
        margin-top: -38px;
     margin-right: 60%;

    }
    .logo-2 {
        width: 0;
    }
    .menu label {
        display: initial;
       
       
    }




    .product-txt {
      
      margin-left: 30px;
      
   }
    .product-txt {
      text-align: center;
      
   }
   .product-img:hover {
      transform: scale(1);
      cursor: pointer;
   
   }


    

.txt-m {
 
display: none;
   font-size: 8.5px;

    grid-gap: 50px;
       
}


.txt-a {
   display: block;

    
}
.map1 {
   display: block;
   
}

.map {
   display: none;
   width: 100%;
   height: 100%;
   
   
}




 .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
        

        text-align: center;
    }
    
    
.pie-pagina  {
   text-align: center;
}







    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;

    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        

    } 

    .slider-txt h1 {
        font-size: 45px;

    }
    .slider-txt h3 {
      font-size: 45px;
    }
      
      
    
    

    .slider-txt p { 
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img { 
        width: 100%;
        text-align: center;
      

         margin-top: 0px;
          
        
        
    }
    .slider-img img {
     
        width: 100%;
        margin-top: -40px;
  
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 7px;
        
    }


    .tabs {
        padding: 50px 20px;
        margin-bottom: 0; 
        padding: 0;
        
    }

    .tabs label {
        width: 33%;
      
        
    }
 
    .info {
        padding: 30px;
        flex-direction: column;

    }

    .info-img {
        width: 100%;
        text-align: center;
      
    }

    .info-img img {
        width: 300px;
        height: 300px;
      margin-bottom: 25px;
      
        
    }
    
    .info-img2 {
      
      text-align: center;
    
  }
    
    .info-img2 img {
      width: 300px;
      height: 150px;
    margin-bottom: 25px;
    margin-right: -50px;
    margin-left: -100px;
   
    
      
  }
  .info-img3 {
      
   text-align: center;
 
}
 
 .info-img3 img {
   width: 200px;
   height: 200px;
 margin-bottom: 25px;
 margin-right: -300px;
 margin-left: -150px;

 
   
}
.info-img4 {
      
   text-align: center;
 
}
 
 .info-img4 img {
   width: 180px;
   height: 180px;
 margin-bottom: 25px;
 margin-right: -50px;
 margin-left: -350px;

 
   
}
.hide-on-mobile {
   display: none;
}

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 25px;
    }

    .info-txt p {
        font-size: 16px;

    }

    .btn-1{
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials { 
        justify-content: center;
        
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;

        
    }
 } 
 

